p1{
    font-size: 20px;
    color: rgb(5, 5, 6);
    background-color: rgb(122, 209, 233);
}
p2{
    font-size: 20px;
    color: rgb(5, 5, 6);
    background-color: rgb(209, 233, 122);
}
p3{
    font-size: 20px;
    color: rgb(5, 5, 6);
    background-color: rgb(122, 233, 142);
}
h2{
    color:rgb(224, 15, 99);
    background-color: rgb(17, 16, 17);
}
